body {
  max-width: 60em;
  margin: auto;
}

.flex-end {
  align-items: flex-end;
}

.notifications {
  position: fixed;
  bottom: 2em;
  right: 2em;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.notifications .notification {
  width: fit-content;
  animation-duration: 1s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    transform: translateX(100px);
  }
}
